
body{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
.container-fluid{
    padding: 7% 15%;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}



p{
  color:#DFF6FF;
  font-family: 'Montserrat-light'
}

/* titile section */
#title{
  background-color:#86B6F6;
  text-align:left
}
#title .container-fluid{
padding:3% 15% 7%;
}


.big-heading{

 font-size: 3.5rem;
 line-height: 1.5;
 color:#FFFFFF
}

.section-heading{
    font-size:3 rem;
    line-height:1.5;
}

.rotate{
    transform: rotate(30deg);
}

/* navigation bar */

.navbar{
 padding: 0 0 4.5rem 0;
}
.navbar-brand{
 font-family: "Ubuntu";
 font-size: 2.5rem;
 font-weight: bold;
}
.nav-item{
    padding: 0 16px;
    color: #FFFFFF !important;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light'
}


/* title image */

.title-img{
    width: 60%;
    transform: rotate(0deg);
    position: absolute;
    z-index:1;
}




/* footer */
#footer{
background-color: red;
height : 100px
display: block;
}
.social-logo{
padding:1%
}
p{
font-size: 1.2rem;
padding-top:10px
}

/* CSS for positive sentiment */
.positive {
    color: green;
    font-size: 2.0rem;

}
/* Text Box*/
.text-box{
    padding: 10%;

}

/* CSS for negative sentiment */
.negative {
    color: red;
    font-size: 2.0rem;
}


@media (max-width:1028px) {
    #title{
    text_align: center
    }
    .title-img{
        position:static;
        transform:rotate(0);
    }
}
